.icons{
    position: absolute;
    width: 50px;
    /* border: 1px solid; */
    height:400px;
    top: 140px;
    background-color:#D3D3D3;
    border-radius: 0px 20px 20px 00px;
    transition: 0.5s;
        /* / */
        z-index: 20;
    position: fixed;
    
        
}

.Home{
    position: absolute;
    font-size: 30px;
    top: 70px;
    left: 8px;
    cursor: pointer;
        /* / */
        z-index: 20;
        
}
.Home:hover{
    color: white; 
}


.Event{
    position: absolute;
    font-size: 30px;
    top: 170px;
    left: 8px;
    cursor: pointer;
        /* / */
        z-index: 20;
}
.Event:hover{
    color: white; 
}
.Members{
    position: absolute;
    font-size: 30px;
    top: 270px;
    left: 8px;
    cursor: pointer;
        /* / */
        z-index: 20;
}
.Members:hover{  
    color: white; 
}
.User{
    position: absolute;
    font-size: 30px;
    top: 370px;
    left: 8px;
    cursor: pointer;
        /* / */
        z-index: 20;
}
.User:hover{  
    color: white; 
}
label{
    position: absolute;
    top: 40px;
    left: -5px;
    font-size:15px;
        /* / */
        z-index: 20;

}
