.icons{
    position: absolute;
    width: 50px;
    /* border: 1px solid; */
    height:450px;
    top: 100px;
    background-color:#D3D3D3;
    border-radius: 0px 20px 20px 00px;
    transition: 0.5s;
        /* / */
        z-index: 20;
    position: fixed;
    
        
}
.Landing{
    position: absolute;
    font-size: 30px;
    top: 70px;
    left: 8px;
    cursor: pointer;
        /* / */
        z-index: 20;

}

.Home{
    position: absolute;
    font-size: 30px;
    top: 165px;
    left: 8px;
    cursor: pointer;
        /* / */
        z-index: 20;
        
}
.Home:hover{
    color: white; 
}


.Event{
    position: absolute;
    font-size: 30px;
    top: 260px;
    left: 8px;
    cursor: pointer;
        /* / */
        z-index: 20;
}
.Event:hover{
    color: white; 
}
.Members{
    position: absolute;
    font-size: 30px;
    top: 360px;
    left: 8px;
    cursor: pointer;
        /* / */
        z-index: 20;
}
.Members:hover{  
    color: white; 
}
/* .User{
    position: absolute;
    font-size: 30px;
    top: 370px;
    left: 8px;
    cursor: pointer;
        /* / */
        /* z-index: 20; */
/* } */
/* .User:hover{  
    color: white; 
} */
/* label{
    position: absolute;
    top: 40px;
    left: -5px;
    font-size:15px;
        /* / */
        /* z-index: 20; */

/* } */
.Landing{
    position: absolute;
    top: 75px;
    left: 8px;
    font-size: 30px;
}
