.scrolled{
  height: 30%;
  transition: 1s;
}
.base_line_1{
height: 40%;  
transition: 1s;
}
.base_line_2{
  height: 50%;  
  transition: 1s;
}
.base_line_3{
  height: 60%;  
  transition: 1s;
}
.base_line_4{
  height: 70%;  
  transition: 1s;
}
.base_line_5{
  height: 80%;  
 transition: 1s;
 }
.base_line_6{
  height: 90%;
  transition: 1s;
}
.base_line_7{
  height: 96%;
  transition: 1s;
}
.base_line_8{
  height: 100%;
  transition: 1s;
}
div{
  transition: 1s;
}

.main-div{
  height: 100vh;
}