.Card-content {
  display: flex;
  flex-direction: column;
  background-color: lightgray;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  transition: transform 0.6s ease;
  height: 400px;
  width: 300px;
  padding-bottom: 60px;
  margin: 80px;
  cursor: pointer;
  position: relative;
  z-index: 1;
}

.Card-image img {
  width: 100%;
  height: auto;
  border-radius: 6px;
  object-fit: contain;
}

.Card-content:hover {
  transform: scale(1.05);
  z-index: 2;
}

.Card-info {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: lightgray;
  border-radius: 10px;
  padding: 20px;
  z-index: 3;
  opacity: 0;
  transition: opacity 0.6s ease, transform 0.6s ease;
  transform: scale(0.8);
}

.Card-content:hover .Card-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 1;
  transform: scale(1);
}

.Card-info h5,
.Card-info h3,
.Card-title h5,
.Card-title h3 {
  margin-top: 5px;
  margin-bottom: 5;
  text-align: center;
}  



@media screen and (min-width: 1024px) and (max-width: 1279px){
  .Card-content {
    height: 400px;
    width: 300px;
    margin: 65px 55px 45px 115px;
    justify-self: center;
  }
}

  @media screen and (min-width: 768px) and (max-width: 1023px) {
    .Card-content {
      height: 400px;
      width: 300px;
      margin: 85px 45px 45px 55px;
      justify-self: center;
    }
  }
  

  @media screen and (max-width: 767px) {
    .Card-content {
      height: 550px;
      width: 400px;
      margin: 65px 55px 30px 75px;
      justify-self: center;
    }
  }

  @media screen and  (max-width: 480px) {
    .Card-content {
      height: 380px;
      width: 260px;
      margin: 35px auto 30px 75px;
      justify-self: center;
    }
  }
  
  @media screen and (max-width: 380px) {
    .Card-content {
      height: 280px;
      width: 210px;
      margin: 45px auto 30px 80px;
      justify-self: center;
    }
  }
  

  @media screen and (max-width: 280px) {
    .Card-content {
      height: 280px;
      width: 190px;
      margin: 55px 35px 55px 45px;
      justify-self: center;
    }
  }
  